@model Setting
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form asp-area="Admin" asp-controller="Setting" asp-action="Update" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="@Model.LogoFile" class="form-label">Logo</label>
                    <input class="form-control" asp-for="@Model.LogoFile">
                    <span asp-validation-for="@Model.LogoFile" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Addresss" class="form-label">Addresss</label>
                    <input class="form-control" asp-for="@Model.Addresss">
                    <span asp-validation-for="@Model.Addresss" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Phone" class="form-label">Phone</label>
                    <input class="form-control" asp-for="@Model.Phone">
                    <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Email" class="form-label">Email</label>
                    <input class="form-control" asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.About" class="form-label">About</label>
                    <input class="form-control" asp-for="@Model.About">
                    <span asp-validation-for="@Model.About" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Addresss_2" class="form-label">Addresss_2</label>
                    <input class="form-control" asp-for="@Model.Addresss_2">
                    <span asp-validation-for="@Model.Addresss_2" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Phone_2" class="form-label">Phone_2</label>
                    <input class="form-control" asp-for="@Model.Phone_2">
                    <span asp-validation-for="@Model.Phone_2" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Email_2" class="form-label">Email_2</label>
                    <input class="form-control" asp-for="@Model.Email_2">
                    <span asp-validation-for="@Model.Email_2" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="@Model.Logo" />
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-area="Admin" asp-controller="Setting" asp-action="Index">Back to list</a>
            </form>
        </div>
    </div>
</div>


